

<div [ngClass]="dropDownClass" id="centered_nav">
  <a href="#home" title="DR.NEHA">Dr. Neha</a>
  <a href="#services" title="Services">Services</a>
  <a href="#services" title="Services" style="padding-top: 16px;">
    <img style="max-height: 48px;"  src='assets/logo.png' alt='image'>
  </a>
  <a href="#about" title="About">Clinic</a>
  <a href="#contact" title="Contact">Contact</a>
  <a href="javascript:void(0);" title="Menu" style="font-size:18px;" class="icon" (click)="openInDropDown()">&#9776;</a>
</div>


<div class="rc_content">
  <h3>Responsive Centered Navigation Menu</h3>
  <p><--- Resize the browser window to see the menu respond ---></p>
</div>